%h1 Keep Recruiting
%p The best applicant tracking system
%ul
  %li.sticky You can post Job Vacancies which can be tracked by multiple recruiters in your panel
  %li.sticky Candidate who visits your website can apply online. Alternatively you can upload candidates in bulk
  %li.sticky You can send SMS and email notification of interview schedules to candidates and your interview panel
  %li.sticky You can schedule interviews to multiple candidates at the same time
  %li.sticky You and your team can track interview decisions / comments
  %li.sticky Never miss an application/candidate by tracking the status through the entire life cycle.
  %li.sticky No duplicate resumes. Even your ex-employee can reapply with the same login. 
  %li.sticky 
    Brought to you by the folks at
    %a(href="http://www.dharanasoft.com") Dharana Software
    %br
    %br
    For more information, write to us at 
    %a(href="mailto:keeprecruiting@dharanasoft.com") keeprecruiting@dharanasoft.com
    or call us on
    %br
    %em +91-9566099716
