!!!
%html
  %head
    %title Keep Recruiting - the best applicant / candidate tracking system
    %link(href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100italic,300,300italic,400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css")
    %link(href="http://fonts.googleapis.com/css?family=Coming+Soon:regular" rel="stylesheet" type="text/css" )
    %link(href="http://fonts.googleapis.com/css?family=Architects+Daughter:regular" rel="stylesheet" type="text/css")
    
    = stylesheets
  %body
    #coming_soon Coming Soon
    .content= yield
